// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";
// To configure blueprint, edit the partials/_base.sass file.
@import "partials/base";
// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// Generate the blueprint framework according to your configuration:
@include blueprint;
@include blueprint-scaffolding;

$topmargin: 50px;
$padding: 20px;
$purple: #610099;
body{
  border-top:4px ridge $purple;
}

#header {
  margin-top: $topmargin;
  
  h1 {
    margin:0;
    padding:10px 20px;
    line-height:75px;
    background-color: $purple;
    color:white;
    display:inline;
    font-family: Palatino, "Palatino Linotype", Georgia, "Century Gothic";
    font-weight:bold;
  }
}

#menubar {
  font-family:Georgia;
  font-size:20px;
  margin-top:$topmargin;

text-align:center;
  p {
    margin: 0px;
    border-bottom:1px dashed #CACACA;
    padding-bottom:7px;
    
}
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    display:inline-block;
    
  }
#menu {
  margin-top:10px;
  vertical-align:text-bottom;
  li {
    margin-right:10px;
    display:inline-block;
    a {
      font:Georgia;
      color:#222;
      font-size:15px;
      padding:3px 15px;
      display:inline-block;
      border:1px solid #CACACA;
      border-bottom:3px inset $purple;
    }
    a:hover {
      color:black;
    }
  }
}

#content {
  margin-top:20px;
  p {
    margin-bottom:20px;
}
}

#footer {
  margin-top: $topmargin;
  text-align: center;
}

.todolist {
  .title {
    font-size:16px;
  }
}

#notice {
}

a {
  padding:0 0 2px 0;
  overflow:auto;
  line-height:22px;
  text-decoration:none;
  border-bottom:1px dashed gray;
}

.login_form {
  width:0%;
}

.field_with_errors {
  display:inline;
}

h2 {
  margin-top:10px;
  margin-bottom:0px;
}